<!-- src/app/shared/componentes/empleado-password-modal/empleado-password-modal.component.html -->

<ion-header class="password-header">
  <ion-toolbar>
    <div class="title-box">
      <div class="icon-box">
        <ion-icon name="key-outline"></ion-icon>
      </div>

      <div>
        <h2>Cambiar contraseña</h2>
        <p>{{ nombreEmpleado }}</p>
      </div>
    </div>

    <button type="button" class="btn-close" slot="end" (click)="cancelar()">
      <ion-icon name="close-outline"></ion-icon>
    </button>
  </ion-toolbar>
</ion-header>

<ion-content class="password-content">

  <form [formGroup]="formulario" (ngSubmit)="guardar()" class="password-form">

    <section class="password-card">

    

      <div class="field-group">
        <label>Nueva contraseña</label>
        <ion-item lines="none" class="input-card">
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Mínimo 6 caracteres"
          ></ion-input>
        </ion-item>
      </div>

      <div class="field-group">
        <label>Confirmar contraseña</label>
        <ion-item lines="none" class="input-card">
          <ion-input
            type="password"
            formControlName="confirmarPassword"
            placeholder="Repita la contraseña"
          ></ion-input>
        </ion-item>
      </div>

      <div class="warning-box">
        <ion-icon name="alert-circle-outline"></ion-icon>
        <p>
  Asigna una contraseña temporal para que el empleado pueda ingresar nuevamente.        </p>
      </div>

    </section>

    <div class="modal-actions">
      <button type="button" class="btn-cancelar" (click)="cancelar()">
        Cancelar
      </button>

      <button type="submit" class="btn-guardar">
        <ion-icon name="save-outline"></ion-icon>
        <span>Guardar contraseña</span>
      </button>
    </div>

  </form>

</ion-content>